body{
    font-family: Arial,  sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefef;
}
.chat-container{
    width: 55%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px;
}
.chat-display{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #efefef;
    height: 600px;
    overflow: scroll;
    margin-left: auto;
}
.chat-input{
    
    position:fixed;
    bottom: 0;
    right: 20%;
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #efefef;
}
#text-input{
    height:40px;
    width: 60%;
    outline: none;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    word-wrap: break-all;
    overflow: visible;

}
#send-button {
    height: 50px;
    padding: 5px 10px;
    background-color: #428bca;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.userMessage{
    background-color : #428bca;
    color : white;
    margin-bottom : 10px;
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    padding: 10px;
    line-height: 20px;
    width: auto;
    align-items: center;
    border-radius: 10px;
    height:auto;
    word-break: break-all;
}
.robotMessage{
    background-color : #ffffff;
    color : rgb(0, 0, 0);
    margin-bottom : 10px;
    display: flex;
    margin-right: auto;
    padding: 10px;
    line-height: 20px;
    width: auto;
    align-items: center;
    border-radius: 10px;
    height:auto;
    word-break: break-all;
}